body {
    font: 1em Verdana, Arial, sans-serif;
    margin: 1em;
    background-color: #1c1c1c;
    color: white;
    display: flex;
    justify-content: space-around;
    text-rendering: optimizeLegibility;
    user-select: none;
    margin-left: auto;
    margin-right: auto;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 2.3em;
    font-weight: bold;
    line-height: 2.3em;
    height: 2.3em;
    width: 2.3em;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
}

.square:focus {
    outline: none;
}

.square:focus-visible {
    outline: #4791e6 solid 3px;
}

.header {
    text-align: center;
    background-color: #242424;
    padding: 1.5em;
    border-radius: 1em;
    margin-bottom: 1em;
}

.game {
    display: flex;
    flex-direction: column;
    background-color: #242424;
    padding: 2em;
    border-radius: 1em;
    min-width: max-content;
}

.status {
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.game-board {
    margin-left: auto;
    margin-right: auto;
}

.game-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
    flex-wrap: nowrap;
}

.game-info button {
    border-radius: 1.5em;
    border: 1px solid #fffbee;
    padding: 0.5em;
    cursor: pointer;
}